{% extends 'base.html' %}
{% load static price_tag status_favorite status_payment %}


{% block title %}
{% if 'category' in request.path %}
{{ title }}
{% else %}
Каталог
{% endif %}
{% endblock title %}


{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-end my-5">
        <a href="#" class="btn btn-blueviolet" type="button" data-bs-toggle="offcanvas"
           data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            Фильтрация
        </a>
    </div>
    {% if games %}
    <div class="row row-cols-1 row-cols-md-2 g-5">
        {% for game in games %}
        <div class="col">
            <div class="card mb-6 h-100 bg-dark">
                <div class="row g-0">
                    <div class="col-md-6 p-2">
                        <img src="{{ game.get_first_photo }}" class="img-fluid custom-border custom_image" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <div class="d-flex justify-content-between my-auto">
                                <h5 class="card-title text-blueviolet">{{ game.title }}</h5>
                                {% include 'components/_favorite.html' %}
                            </div>
                            <p class="card-text text-blueviolet">
                                Краткое описание: {{ game.short_description|truncatechars:30 }}
                            </p>
                            <div class="d-flex flex-column pb-2">
                                <small class="text-blueviolet">Дата выхода: {{ game.date_time }}</small>
                                <small class="text-blueviolet">Категория: {{ game.category }}</small>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-between my-2">
                                    <div class="d-flex flex-column">
                                        <a href="{{ game.get_absolute_url }}"
                                           class="btn btn-outline-danger my-2">
                                            Заинтересовало
                                        </a>
                                        {% if request.user.is_authenticated %}
                                        {% check_payment request.user game.pk as status_payment %}
                                        {% if status_payment %}
                                        <a href="{% url 'download_path' game.slug %}"
                                           class="btn btn-outline-danger my-auto">
                                            Скачать
                                        </a>
                                        {% else %}
                                        <a href="{% url 'to_cart' game.pk 'add' %}" class="btn btn-outline-danger">
                                            Купить
                                        </a>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="d-flex flex-column">
                                        {% price_simple_tag game.price_old game.price_new game.discount as price %}
                                        {{ price }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1 class="text-help">К сожалению, в данный момент нет игр такой категорией (((((</h1>
    {% endif %}
</div>

{% if games %}
<div class="d-flex justify-content-center my-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for i in page_obj.paginator.page_range %}
            {% if i == games.number %}
            <li class="page-item active"><a class="page-link text-paginator bg-dark" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link text-paginator bg-dark" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link bg-dark text-paginator" href="?page={{ page_obj.next_page_number }}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% else %}
{% endif %}

<!-- categories -->
<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-danger">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Категория</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group list-group-flush">
            <h3 class="text-blueviolet">Категории</h3>
            <a href="{% url 'catalog_path' %}" class="list-group-item list-group-item-action item-list-custom"
               aria-current="true">
                Все категории
            </a>
            {% for category in categories %}
            <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action item-list-custom"
               aria-current="true">
                {{ category }}
            </a>
            {% endfor %}

        </div>

        <div class="d-flex justify-content-center">
            <a href="" class="btn btn-outline-blueviolet mt-5"
               data-bs-toggle="modal" data-bs-target="#exampleModal">
                Поиск по названию
            </a>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-blueviolet" id="exampleModalLabel">Поиск</h1>
                <button type="button" class="btn-close text-blueviolet" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'search_catalog' %}" method="get">
                    <input type="text" name="q" class="form-control form-custom" placeholder="Поиск:">

                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-outline-blueviolet">Поиск</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}