<div style="background-color: blueviolet; margin-top: 100px;">
    <nav class="navbar navbar-expand-lg fixed-bottom" style="background-color: blueviolet; margin-top: 400px;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#footerSupportedContent" aria-controls="footerSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="footerSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#"><i class="px-2 bi bi-telegram"></i>Telegram: @superbot</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#"><i class="px-2 bi bi-facebook"></i>Facebook</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#"><i class="px-2 bi bi-instagram"></i>Instagram</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#"><i class="px-2 bi bi-telephone-fill"></i>phone</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#"><i class="px-2 bi bi-code-slash"></i>Кодеры</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
