<!-- search model -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-blueviolet" id="exampleModalLabel">Поиск</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input type="text" class="form-control form-custom">
                    <div class="d-flex justify-content-end mt-3">
                        <button type="submit" class="btn btn-outline-danger">Войти</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                    <div class="col">
                        <div class="card text-bg-dark">
                            <img src="image/img.jpg" class="card-img" alt="...">
                            <div class="card-img" style="background-color: blueviolet;">
                                <h5 class="card-title text-center my-auto">
                                    <a href="#" class="custom-link">Card title</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-bg-dark">
                            <img src="image/img.jpg" class="card-img" alt="...">
                            <div class="card-img" style="background-color: blueviolet;">
                                <h5 class="card-title text-center my-auto">
                                    <a href="#" class="custom-link">Card title</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-bg-dark">
                            <img src="image/img.jpg" class="card-img" alt="...">
                            <div class="card-img" style="background-color: blueviolet;">
                                <h5 class="card-title text-center my-auto">
                                    <a href="#" class="custom-link">Card title</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
